52n-ses-tests/src/main/resources/wsdl/OGC-FILTER-1_1_0_ext-filter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This OGC work (including software, documents, or other related items) is being
provided by the copyright holders under the following license. By obtaining,
using and/or copying this work, you (the licensee) agree that you have read,
understood, and will comply with the following terms and conditions:

Permission to use, copy, and modify this software and its documentation, with
or without modification, for any purpose and without fee or royalty is hereby
granted, provided that you include the following on ALL copies of the software
and documentation or portions thereof, including modifications, that you make:

   1. The full text of this NOTICE in a location viewable to users of the
   redistributed or derivative work.
   2. Any pre-existing intellectual property disclaimers, notices, or terms
   and conditions. If none exist, a short notice of the following form (hypertext
   is preferred, text is permitted) should be used within the body of any
   redistributed or derivative code: "Copyright © [$date-of-document] Open
   Geospatial Consortium, Inc. All Rights Reserved.
   http://www.opengeospatial.org/ogc/legal (Hypertext is preferred, but a textual
   representation is permitted.)
   3. Notice of any changes or modifications to the OGC files, including the
   date changes were made. (We recommend you provide URIs to the location from
   which the code is derived.)
 

THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT HOLDERS MAKE
NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT
THE USE OF THE SOFTWARE OR DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS,
COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR DOCUMENTATION.

The name and trademarks of copyright holders may NOT be used in advertising or
publicity pertaining to the software without specific, written prior permission.
Title to copyright in this software and any associated documentation will at all
times remain with copyright holders.


CHANGES TO ORIGINAL FILE (derived from http://schemas.opengeospatial.net):
xsd:import's and xsd:include's changed to local one-folder-hierarchy -->
<!-- Mit XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) von Ingo Simonis (International Geospatial Services Institute GmbH) bearbeitet -->
<xsd:schema xmlns:ogc="http://www.opengis.net/ogc" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opengis.net/ogc" elementFormDefault="qualified" version="1.1.0">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="OGC-GML-3_1_1-gml.xsd"/>
  <xsd:include schemaLocation="OGC-FILTER-1_1_0_ext-expr.xsd"/>
  <xsd:include schemaLocation="OGC-FILTER-1_1_0_ext-sort.xsd"/>
  <xsd:include schemaLocation="OGC-FILTER-1_1_0_ext-filterCapabilities.xsd"/>
  <xsd:element name="Filter" type="ogc:FilterType"/>
  <xsd:complexType name="FilterType">
    <xsd:choice>
      <xsd:element ref="ogc:comparisonOps"/>
      <xsd:element ref="ogc:spatialOps"/>
      <xsd:element ref="ogc:temporalOps"/>
      <xsd:element ref="ogc:logicOps"/>
      <xsd:element ref="ogc:_Id" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:complexType>
  <!-- =================================================================== -->
  <!-- FILTER PREDICATES                                                   -->
  <!-- =================================================================== -->
  <xsd:group name="FilterPredicates">
    <xsd:choice>
      <xsd:element ref="ogc:comparisonOps"/>
      <xsd:element ref="ogc:spatialOps"/>
      <xsd:element ref="ogc:temporalOps"/>
      <xsd:element ref="ogc:logicOps"/>
      <xsd:element ref="ogc:_Id" maxOccurs="unbounded"/>
    </xsd:choice>
  </xsd:group>
  <!-- =================================================================== -->
  <!-- COMPARISON OPERATORS                                                -->
  <!-- =================================================================== -->
  <xsd:element name="comparisonOps" type="ogc:ComparisonOpsType" abstract="true"/>
  <xsd:complexType name="ComparisonOpsType" abstract="true"/>
  <xsd:element name="PropertyIsEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsNotEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsLessThan" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsGreaterThan" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsLessThanOrEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsGreaterThanOrEqualTo" type="ogc:BinaryComparisonOpType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsLike" type="ogc:PropertyIsLikeType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsNull" type="ogc:PropertyIsNullType" substitutionGroup="ogc:comparisonOps"/>
  <xsd:element name="PropertyIsBetween" type="ogc:PropertyIsBetweenType" substitutionGroup="ogc:comparisonOps"/>
  <!-- =================================================================== -->
  <!-- SPATIAL OPERATORS                                                   -->
  <!-- =================================================================== -->
  <xsd:element name="spatialOps" type="ogc:SpatialOpsType" abstract="true"/>
  <xsd:complexType name="SpatialOpsType" abstract="true"/>
  <xsd:element name="Equals" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Disjoint" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Touches" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Within" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Overlaps" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Crosses" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Intersects" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Contains" type="ogc:BinarySpatialOpType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="DWithin" type="ogc:DistanceBufferType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="Beyond" type="ogc:DistanceBufferType" substitutionGroup="ogc:spatialOps"/>
  <xsd:element name="BBOX" type="ogc:BBOXType" substitutionGroup="ogc:spatialOps"/>
  <!-- =================================================================== -->
  <!-- TEMPORAL OPERATORS                                                  -->
  <!-- =================================================================== -->
  <xsd:element name="temporalOps" type="ogc:TemporalOpsType" abstract="true"/>
  <xsd:complexType name="TemporalOpsType" abstract="true"/>
  <xsd:element name="After" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="Before" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="Begins" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="BegunBy" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="TContains" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="During" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="EndedBy" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="Ends" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="TEquals" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="Meets" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="MetBy" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="TOveralps" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <xsd:element name="OverlappedBy" type="ogc:BinaryTemporalOpType" substitutionGroup="ogc:temporalOps"/>
  <!-- =================================================================== -->
  <!-- LOGICAL OPERATORS                                                   -->
  <!-- =================================================================== -->
  <xsd:element name="logicOps" type="ogc:LogicOpsType" abstract="true"/>
  <xsd:complexType name="LogicOpsType" abstract="true"/>
  <xsd:element name="And" type="ogc:BinaryLogicOpType" substitutionGroup="ogc:logicOps"/>
  <xsd:element name="Or" type="ogc:BinaryLogicOpType" substitutionGroup="ogc:logicOps"/>
  <xsd:element name="Not" type="ogc:UnaryLogicOpType" substitutionGroup="ogc:logicOps"/>
  <!-- =================================================================== -->
  <!-- OBJECT/RECORDS IDENTIFIERS                                          -->
  <!-- =================================================================== -->
  <xsd:element name="_Id" type="ogc:AbstractIdType" abstract="true"/>
  <xsd:complexType name="AbstractIdType" abstract="true"/>
  <!-- =================================================================== -->
  <!-- CONCRETE OBJECT IDENTIFIERS                                         -->
  <!-- =================================================================== -->
  <xsd:element name="GmlObjectId" type="ogc:GmlObjectIdType" substitutionGroup="ogc:_Id"/>
  <xsd:complexType name="GmlObjectIdType">
    <xsd:complexContent>
      <xsd:extension base="ogc:AbstractIdType">
        <xsd:attribute ref="gml:id" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FeatureId" type="ogc:FeatureIdType" substitutionGroup="ogc:_Id"/>
  <xsd:complexType name="FeatureIdType">
    <xsd:complexContent>
      <xsd:extension base="ogc:AbstractIdType">
        <xsd:attribute name="fid" type="xsd:ID" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- =================================================================== -->
  <!-- TYPE DECLARATIONS                                                   -->
  <!-- =================================================================== -->
  <xsd:complexType name="BinaryComparisonOpType">
    <xsd:complexContent>
      <xsd:extension base="ogc:ComparisonOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:expression" minOccurs="2" maxOccurs="2"/>
        </xsd:sequence>
        <xsd:attribute name="matchCase" type="xsd:boolean" use="optional" default="true"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PropertyIsLikeType">
    <xsd:complexContent>
      <xsd:extension base="ogc:ComparisonOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:PropertyName"/>
          <xsd:element ref="ogc:Literal"/>
        </xsd:sequence>
        <xsd:attribute name="wildCard" type="xsd:string" use="required"/>
        <xsd:attribute name="singleChar" type="xsd:string" use="required"/>
        <xsd:attribute name="escapeChar" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PropertyIsNullType">
    <xsd:complexContent>
      <xsd:extension base="ogc:ComparisonOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:PropertyName"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PropertyIsBetweenType">
    <xsd:complexContent>
      <xsd:extension base="ogc:ComparisonOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:expression"/>
          <xsd:element name="LowerBoundary" type="ogc:LowerBoundaryType"/>
          <xsd:element name="UpperBoundary" type="ogc:UpperBoundaryType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LowerBoundaryType">
    <xsd:choice>
      <xsd:element ref="ogc:expression"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="UpperBoundaryType">
    <xsd:sequence>
      <xsd:element ref="ogc:expression"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BinarySpatialOpType">
    <xsd:complexContent>
      <xsd:extension base="ogc:SpatialOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:PropertyName"/>
          <xsd:choice>
            <xsd:element ref="gml:_Geometry"/>
            <xsd:element ref="gml:Envelope"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryTemporalOpType">
    <xsd:complexContent>
      <xsd:extension base="ogc:TemporalOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:PropertyName"/>
          <xsd:choice>
            <xsd:element ref="ogc:PropertyName"/>
            <xsd:element ref="gml:_TimeObject"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BBOXType">
    <xsd:complexContent>
      <xsd:extension base="ogc:SpatialOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:PropertyName"/>
          <xsd:element ref="gml:Envelope"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DistanceBufferType">
    <xsd:complexContent>
      <xsd:extension base="ogc:SpatialOpsType">
        <xsd:sequence>
          <xsd:element ref="ogc:PropertyName"/>
          <xsd:element ref="gml:_Geometry"/>
          <xsd:element name="Distance" type="ogc:DistanceType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DistanceType">
    <xsd:attribute name="units" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="BinaryLogicOpType">
    <xsd:complexContent>
      <xsd:extension base="ogc:LogicOpsType">
        <xsd:choice minOccurs="2" maxOccurs="unbounded">
          <xsd:group ref="ogc:FilterPredicates"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UnaryLogicOpType">
    <xsd:complexContent>
      <xsd:extension base="ogc:LogicOpsType">
        <xsd:sequence>
          <xsd:choice>
            <xsd:group ref="ogc:FilterPredicates"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>