52n-ses-tests/src/main/resources/wsdl/OGC-OWS-1_1_0-ows19115subset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This OGC work (including software, documents, or other related items) is being
provided by the copyright holders under the following license. By obtaining,
using and/or copying this work, you (the licensee) agree that you have read,
understood, and will comply with the following terms and conditions:

Permission to use, copy, and modify this software and its documentation, with
or without modification, for any purpose and without fee or royalty is hereby
granted, provided that you include the following on ALL copies of the software
and documentation or portions thereof, including modifications, that you make:

   1. The full text of this NOTICE in a location viewable to users of the
   redistributed or derivative work.
   2. Any pre-existing intellectual property disclaimers, notices, or terms
   and conditions. If none exist, a short notice of the following form (hypertext
   is preferred, text is permitted) should be used within the body of any
   redistributed or derivative code: "Copyright © [$date-of-document] Open
   Geospatial Consortium, Inc. All Rights Reserved.
   http://www.opengeospatial.org/ogc/legal (Hypertext is preferred, but a textual
   representation is permitted.)
   3. Notice of any changes or modifications to the OGC files, including the
   date changes were made. (We recommend you provide URIs to the location from
   which the code is derived.)
 

THIS SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS," AND COPYRIGHT HOLDERS MAKE
NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
TO, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT
THE USE OF THE SOFTWARE OR DOCUMENTATION WILL NOT INFRINGE ANY THIRD PARTY PATENTS,
COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.

COPYRIGHT HOLDERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF ANY USE OF THE SOFTWARE OR DOCUMENTATION.

The name and trademarks of copyright holders may NOT be used in advertising or
publicity pertaining to the software without specific, written prior permission.
Title to copyright in this software and any associated documentation will at all
times remain with copyright holders.


CHANGES TO ORIGINAL FILE (derived from http://schemas.opengeospatial.net):
xsd:import's and xsd:include's changed to local one-folder-hierarchy -->
<schema targetNamespace="http://www.opengis.net/ows/1.1" 
xmlns:ows="http://www.opengis.net/ows/1.1" 
xmlns:xlink="http://www.w3.org/1999/xlink" 
xmlns="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" version="1.1.0" xml:lang="en">
	<annotation>
		<appinfo>ows19115subset.xsd 2006-10-20</appinfo>
		<documentation>This XML Schema Document encodes the parts of ISO 19115 used by the common "ServiceIdentification" and "ServiceProvider" sections of the GetCapabilities operation response, known as the service metadata XML document. The parts encoded here are the MD_Keywords, CI_ResponsibleParty, and related classes. The UML package prefixes were omitted from XML names, and the XML element names were all capitalized, for consistency with other OWS Schemas. This document also provides a simple coding of text in multiple languages, simplified from Annex J of ISO 19115.
		Copyright (c) 2006 Open Geospatial Consortium, Inc. All Rights Reserved. </documentation>
	</annotation>
	<!-- ==============================================================
		includes and imports
	============================================================== -->
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="W3C-XLINK-1_1_0-xlinks.xsd"/>
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="XML-Namespace-1998.xsd"/>
	<!-- ==============================================================
		elements and types
	============================================================== -->
	<complexType name="LanguageStringType">
		<annotation>
			<documentation>Text string with the language of the string identified as recommended in the XML 1.0 W3C Recommendation, section 2.12. </documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute ref="xml:lang" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="Title" type="ows:LanguageStringType">
		<annotation>
			<documentation>Title of this resource, normally used for display to a human. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="Abstract" type="ows:LanguageStringType">
		<annotation>
			<documentation>Brief narrative description of this resource, normally used for display to a human. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="Keywords" type="ows:KeywordsType"/>
	<!-- =========================================================== -->
	<complexType name="KeywordsType">
		<annotation>
			<documentation>Unordered list of one or more commonly used or formalised word(s) or phrase(s) used to describe the subject. When needed, the optional "type" can name the type of the associated list of keywords that shall all have the same type. Also when needed, the codeSpace attribute of that "type" can reference the type name authority and/or thesaurus.
			If the xml:lang attribute is not included in a Keyword element, then no language is specified for that element unless specified by another means.  All Keyword elements in the same Keywords element that share the same xml:lang attribute value represent different keywords in that language. </documentation>
			<documentation>For OWS use, the optional thesaurusName element was omitted as being complex information that could be referenced by the codeSpace attribute of the Type element. </documentation>
		</annotation>
		<sequence>
			<element name="Keyword" type="ows:LanguageStringType" maxOccurs="unbounded"/>
			<element name="Type" type="ows:CodeType" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="CodeType">
		<annotation>
			<documentation>Name or code with an (optional) authority. If the codeSpace attribute is present, its value shall reference a dictionary, thesaurus, or authority for the name or code, such as the organisation who assigned the value, or the dictionary from which it is taken. </documentation>
			<documentation>Type copied from basicTypes.xsd of GML 3 with documentation edited, for possible use outside the ServiceIdentification section of a service metadata document. </documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<attribute name="codeSpace" type="anyURI" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- =========================================================== -->
	<element name="PointOfContact" type="ows:ResponsiblePartyType">
		<annotation>
			<documentation>Identification of, and means of communication with, person(s) responsible for the resource(s). </documentation>
			<documentation>For OWS use in the ServiceProvider section of a service metadata document, the optional organizationName element was removed, since this type is always used with the ProviderName element which provides that information. The optional individualName element was made mandatory, since either the organizationName or individualName element is mandatory. The mandatory "role" element was changed to optional, since no clear use of this information is known in the ServiceProvider section. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="ResponsiblePartyType">
		<annotation>
			<documentation>Identification of, and means of communication with, person responsible for the server. At least one of IndividualName, OrganisationName, or PositionName shall be included. </documentation>
		</annotation>
		<sequence>
			<element ref="ows:IndividualName" minOccurs="0"/>
			<element ref="ows:OrganisationName" minOccurs="0"/>
			<element ref="ows:PositionName" minOccurs="0"/>
			<element ref="ows:ContactInfo" minOccurs="0"/>
			<element ref="ows:Role"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<!-- =========================================================== -->
	<complexType name="ResponsiblePartySubsetType">
		<annotation>
			<documentation>Identification of, and means of communication with, person responsible for the server. </documentation>
			<documentation>For OWS use in the ServiceProvider section of a service metadata document, the optional organizationName element was removed, since this type is always used with the ProviderName element which provides that information. The mandatory "role" element was changed to optional, since no clear use of this information is known in the ServiceProvider section. </documentation>
		</annotation>
		<sequence>
			<element ref="ows:IndividualName" minOccurs="0"/>
			<element ref="ows:PositionName" minOccurs="0"/>
			<element ref="ows:ContactInfo" minOccurs="0"/>
			<element ref="ows:Role" minOccurs="0"/>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<element name="IndividualName" type="string">
		<annotation>
			<documentation>Name of the responsible person: surname, given name, title separated by a delimiter. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="OrganisationName" type="string">
		<annotation>
			<documentation>Name of the responsible organization. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="PositionName" type="string">
		<annotation>
			<documentation>Role or position of the responsible person. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="Role" type="ows:CodeType">
		<annotation>
			<documentation>Function performed by the responsible party. Possible values of this Role shall include the values and the meanings listed in Subclause B.5.5 of ISO 19115:2003. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<element name="ContactInfo" type="ows:ContactType">
		<annotation>
			<documentation>Address of the responsible party. </documentation>
		</annotation>
	</element>
	<!-- =========================================================== -->
	<complexType name="ContactType">
		<annotation>
			<documentation>Information required to enable contact with the responsible person and/or organization. </documentation>
			<documentation>For OWS use in the service metadata document, the optional hoursOfService and contactInstructions elements were retained, as possibly being useful in the ServiceProvider section. </documentation>
		</annotation>
		<sequence>
			<element name="Phone" type="ows:TelephoneType" minOccurs="0">
				<annotation>
					<documentation>Telephone numbers at which the organization or individual may be contacted. </documentation>
				</annotation>
			</element>
			<element name="Address" type="ows:AddressType" minOccurs="0">
				<annotation>
					<documentation>Physical and email address at which the organization or individual may be contacted. </documentation>
				</annotation>
			</element>
			<element name="OnlineResource" type="ows:OnlineResourceType" minOccurs="0">
				<annotation>
					<documentation>On-line information that can be used to contact the individual or organization. OWS specifics: The xlink:href attribute in the xlink:simpleAttrs attribute group shall be used to reference this resource. Whenever practical, the xlink:href attribute with type anyURI should be a URL from which more contact information can be electronically retrieved. The xlink:title attribute with type "string" can be used to name this set of information. The other attributes in the xlink:simpleAttrs attribute group should not be used. </documentation>
				</annotation>
			</element>
			<element name="HoursOfService" type="string" minOccurs="0">
				<annotation>
					<documentation>Time period (including time zone) when individuals can contact the organization or individual. </documentation>
				</annotation>
			</element>
			<element name="ContactInstructions" type="string" minOccurs="0">
				<annotation>
					<documentation>Supplemental instructions on how or when to contact the individual or organization. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="OnlineResourceType">
		<annotation>
			<documentation>Reference to on-line resource from which data can be obtained. </documentation>
			<documentation>For OWS use in the service metadata document, the CI_OnlineResource class was XML encoded as the attributeGroup "xlink:simpleAttrs", as used in GML. </documentation>
		</annotation>
		<attributeGroup ref="xlink:simpleAttrs"/>
	</complexType>
	<!-- ========================================================== -->
	<complexType name="TelephoneType">
		<annotation>
			<documentation>Telephone numbers for contacting the responsible individual or organization. </documentation>
		</annotation>
		<sequence>
			<element name="Voice" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Telephone number by which individuals can speak to the responsible organization or individual. </documentation>
				</annotation>
			</element>
			<element name="Facsimile" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Telephone number of a facsimile machine for the responsible
organization or individual. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- =========================================================== -->
	<complexType name="AddressType">
		<annotation>
			<documentation>Location of the responsible individual or organization. </documentation>
		</annotation>
		<sequence>
			<element name="DeliveryPoint" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Address line for the location. </documentation>
				</annotation>
			</element>
			<element name="City" type="string" minOccurs="0">
				<annotation>
					<documentation>City of the location. </documentation>
				</annotation>
			</element>
			<element name="AdministrativeArea" type="string" minOccurs="0">
				<annotation>
					<documentation>State or province of the location. </documentation>
				</annotation>
			</element>
			<element name="PostalCode" type="string" minOccurs="0">
				<annotation>
					<documentation>ZIP or other postal code. </documentation>
				</annotation>
			</element>
			<element name="Country" type="string" minOccurs="0">
				<annotation>
					<documentation>Country of the physical address. </documentation>
				</annotation>
			</element>
			<element name="ElectronicMailAddress" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Address of the electronic mailbox of the responsible organization or individual. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
