52n-ses-tests/src/main/resources/wsdl/OGC-EM-0_2_0-emEventSpecialization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:em="http://www.opengis.net/em/0.2.0" targetNamespace="http://www.opengis.net/em/0.2.0" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml" schemaLocation="OGC-GML-3_1_1-gml.xsd"/>
    <include schemaLocation="OGC-EM-0_2_0-emEvent.xsd"/>
    <element name="IndicationEvent" substitutionGroup="em:Event" type="em:IndicationEventType"/>
    <complexType name="IndicationEventType">
        <complexContent>
            <extension base="em:EventType"/>
        </complexContent>
    </complexType>
    <complexType name="IndicationEventPropertyType">
        <sequence minOccurs="0">
            <element ref="em:IndicationEvent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ChangeEvent" substitutionGroup="em:ComplexEvent" type="em:ChangeEventType"/>
    <complexType name="ChangeEventType">
        <complexContent>
            <extension base="em:ComplexEventType"/>
        </complexContent>
    </complexType>
    <complexType name="ChangeEventPropertyType">
        <sequence minOccurs="0">
            <element ref="em:ChangeEvent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="CancellationEvent" substitutionGroup="em:ComplexEvent" type="em:CancellationEventType"/>
    <complexType name="CancellationEventType">
        <complexContent>
            <extension base="em:ComplexEventType"/>
        </complexContent>
    </complexType>
    <complexType name="CancellationEventPropertyType">
        <sequence minOccurs="0">
            <element ref="em:CancellationEvent"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>