52n-ses-core/src/main/resources/wsdl/public/SESsubmgr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- xmlns="http://docs.oasis-open.org/wsn/bw-2" defines the default namespace.
this way its easier to link the wsdl:message's to the wsdl:operation's -->
<!--    xmlns:wsdl-soap12="http://schemas.xmlsoap.org/wsdl/soap12/" -->
<!-- THE BINDING IS SOAP1.2 and DOCUMENT/LITERAL style -->
<wsdl:definitions name="SubscriptionManager"
     targetNamespace="http://www.opengis.net/ses/0.0"
    xmlns:ses="http://www.opengis.net/ses/0.0" xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:essf="http://www.opengis.net/es-sf/0.0" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl-soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
    xmlns:wsrf-r="http://docs.oasis-open.org/wsrf/r-2"
    xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
    xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
    xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
    xmlns:wsrmd="http://docs.oasis-open.org/wsrf/rmd-1"
    xmlns:wsn-b="http://docs.oasis-open.org/wsn/b-2"
    xmlns:wsn-br="http://docs.oasis-open.org/wsn/br-2"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2"
    xmlns:wsn-t="http://docs.oasis-open.org/wsn/t-1"
    xmlns:muws1="http://docs.oasis-open.org/wsdm/muws1-2.xsd"
    xmlns:muws2="http://docs.oasis-open.org/wsdm/muws2-2.xsd"
    xmlns:sml="http://www.opengis.net/sensorML/1.0.1" xmlns:ows="http://www.opengis.net/ows/1.1">
    
    <!-- TYPES -->
    <wsdl:types>
     <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://www.w3.org/XML/1998/namespace">
            <xsd:include schemaLocation="XML-Namespace-1998.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://www.w3.org/2005/08/addressing">
            <xsd:include schemaLocation="WS-Addressing-2005_08.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <xsd:include schemaLocation="WS-MetadataExchange-2004_09.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsrf/rl-2">
            <xsd:include schemaLocation="WS-ResourceLifetime-1_2.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsrf/rp-2">
            <xsd:include schemaLocation="WS-ResourceProperties-1_2.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsrf/r-2">
            <xsd:include schemaLocation="WS-Resource-1_2.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsrf/rmd-1">
            <xsd:include schemaLocation="WS-ResourceMetadataDescriptor-CD-01.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsdm/muws1-2.xsd">
            <xsd:include schemaLocation="WSDM-MUWS-Part1-1_1.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsdm/muws2-2.xsd">
            <xsd:include schemaLocation="WSDM-MUWS-Part2-1_1.xsd"/>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsn/b-2">
            <xsd:include schemaLocation="WS-BaseNotification-1_3.xsd"/>
        </xsd:schema>
        

        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsn/t-1">
            <xsd:include schemaLocation="WS-Topics-1_3.xsd"/>
        </xsd:schema> 
        
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsn/br-2">
            <xsd:include schemaLocation="WS-BrokeredNotification-1_3.xsd"/>
        </xsd:schema>
       
		<!-- Unsubscribe schema -->
        <xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsn/bw-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="Unsubscribe">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UnsubscribeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
		</xsd:schema>
		
    </wsdl:types>
    
    
    <!-- MESSAGES -->
    <wsdl:message name="ResourceUnknownFault">
        <wsdl:part element="wsrf-r:ResourceUnknownFault" name="ResourceUnknownFault"/>
    </wsdl:message>
    <wsdl:message name="ResourceUnavailableFault">
        <wsdl:part element="wsrf-r:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
    </wsdl:message>
    <wsdl:message name="SetTerminationTimeRequest">
        <wsdl:part element="wsrf-rl:SetTerminationTime" name="SetTerminationTimeRequest"/>
    </wsdl:message>
    <wsdl:message name="SetTerminationTimeResponse">
        <wsdl:part element="wsrf-rl:SetTerminationTimeResponse" name="SetTerminationTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="DestroyRequest">
        <wsdl:part element="wsrf-rl:Destroy" name="DestroyRequest"/>
    </wsdl:message>
    <wsdl:message name="DestroyResponse">
        <wsdl:part element="wsrf-rl:DestroyResponse" name="DestroyResponse"/>
    </wsdl:message>


    <!-- Unsubscribe message -->
    <wsdl:message name="UnsubscribeRequest">
        <wsdl:part element="wsntw:Unsubscribe" name="UnsubscribeRequest"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeResponse">
        <wsdl:part element="wsntw:UnsubscribeResponse" name="UnsubscribeResponse"/>
    </wsdl:message>
    
    <!-- Pausable SubscriptionManager -->
    <wsdl:message name="PauseSubscriptionRequest">
    	<wsdl:part name="PauseSubscriptionRequest" element="wsntw:PauseSubscription"/>
    </wsdl:message>
    <wsdl:message name="ResumeFailedFault">
        <wsdl:part element="wsntw:ResumeFailedFault" name="ResumeFailedFault"/>
    </wsdl:message>
    <wsdl:message name="PauseFailedFault">
        <wsdl:part element="wsntw:PauseFailedFault" name="PauseFailedFault"/>
    </wsdl:message>
    <wsdl:message name="PauseSubscriptionResponse">
    	<wsdl:part name="PauseSubscriptionResponse" element="wsntw:PauseSubscriptionResponse"/>
    </wsdl:message>
    <wsdl:message name="ResumeSubscriptionRequest">
    	<wsdl:part name="ResumeSubscriptionRequest" element="wsntw:ResumeSubscription"/>
    </wsdl:message>
    <wsdl:message name="ResumeSubscriptionResponse">
    	<wsdl:part name="ResumeSubscriptionResponse" element="wsntw:ResumeSubscriptionResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ResourceNotDestroyedFault">
        <wsdl:part element="wsrf-rl:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault"/>
    </wsdl:message>
    <wsdl:message name="UnableToSetTerminationTimeFault">
        <wsdl:part element="wsrf-rl:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault"/>
    </wsdl:message>
    <wsdl:message name="TerminationTimeChangeRejectedFault">
        <wsdl:part element="wsrf-rl:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyRequest">
        <wsdl:part element="wsrf-rp:GetResourceProperty" name="GetResourcePropertyRequest"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyResponse">
        <wsdl:part element="wsrf-rp:GetResourcePropertyResponse" name="GetResourcePropertyResponse"/>
    </wsdl:message>
    <wsdl:message name="InvalidResourcePropertyQNameFault">
        <wsdl:part element="wsrf-rp:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>
    </wsdl:message>
    <wsdl:message name="GetMultipleResourcePropertiesRequest">
        <wsdl:part element="wsrf-rp:GetMultipleResourceProperties" name="GetMultipleResourcePropertiesRequest"/>
    </wsdl:message>
    <wsdl:message name="GetMultipleResourcePropertiesResponse">
        <wsdl:part
            element="wsrf-rp:GetMultipleResourcePropertiesResponse" name="GetMultipleResourcePropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyDocumentRequest">
        <wsdl:part element="wsrf-rp:GetResourcePropertyDocument" name="GetResourcePropertyDocumentRequest"/>
    </wsdl:message>
    <wsdl:message name="GetResourcePropertyDocumentResponse">
        <wsdl:part element="wsrf-rp:GetResourcePropertyDocumentResponse" name="GetResourcePropertyDocumentResponse"/>
    </wsdl:message>
    
    
    <!-- PORT TYPES -->
    <wsdl:portType name="SubscriptionManager" wsrf-rp:ResourceProperties="ses:SubscriptionManagerRP" wsrmd:Descriptor="ses:SubscriptionManagerMetadataDescriptor" wsrmd:DescriptorLocation="SESsubmgr.rmd">
		<wsdl:operation name="Destroy">
            <wsdl:input message="ses:DestroyRequest"
                name="DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest"/>
            <wsdl:output message="ses:DestroyResponse"
                name="DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyResponse"/>
            <wsdl:fault message="ses:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault"/>
            <wsdl:fault message="ses:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="ses:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
        </wsdl:operation>
        <wsdl:operation name="SetTerminationTime">
            <wsdl:input message="ses:SetTerminationTimeRequest"
                name="SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest"/>
            <wsdl:output message="ses:SetTerminationTimeResponse"
                name="SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeResponse"/>
            <wsdl:fault message="ses:UnableToSetTerminationTimeFault" name="UnableToSetTerminationTimeFault"/>
            <wsdl:fault message="ses:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="ses:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
            <wsdl:fault message="ses:TerminationTimeChangeRejectedFault" name="TerminationTimeChangeRejectedFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetResourcePropertyDocument">
            <wsdl:input message="ses:GetResourcePropertyDocumentRequest"
                name="GetResourcePropertyDocumentRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentRequest"/>
            <wsdl:output
                message="ses:GetResourcePropertyDocumentResponse"
                name="GetResourcePropertyDocumentResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentResponse"/>
            <wsdl:fault message="ses:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="ses:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetResourceProperty">
            <wsdl:input message="ses:GetResourcePropertyRequest"
                name="GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest"/>
            <wsdl:output message="ses:GetResourcePropertyResponse"
                name="GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyResponse"/>
            <wsdl:fault message="ses:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="ses:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
            <wsdl:fault message="ses:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>
        </wsdl:operation>
        <wsdl:operation name="GetMultipleResourceProperties">
            <wsdl:input
                message="ses:GetMultipleResourcePropertiesRequest"
                name="GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesRequest"/>
            <wsdl:output
                message="ses:GetMultipleResourcePropertiesResponse"
                name="GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesResponse"/>
            <wsdl:fault message="ses:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="ses:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
            <wsdl:fault message="ses:InvalidResourcePropertyQNameFault" name="InvalidResourcePropertyQNameFault"/>
        </wsdl:operation>
        
        
        <!-- Unsubscribe method -->
		<wsdl:operation name="Unsubscribe">
            <wsdl:input message="ses:UnsubscribeRequest"
                name="UnsubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest"/>
            <wsdl:output message="ses:UnsubscribeResponse"
                name="UnsubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeResponse"/>
            <wsdl:fault message="ses:ResourceNotDestroyedFault" name="ResourceNotDestroyedFault"/>
            <wsdl:fault message="ses:ResourceUnknownFault" name="ResourceUnknownFault"/>
            <wsdl:fault message="ses:ResourceUnavailableFault" name="ResourceUnavailableFault"/>
        </wsdl:operation>
        
        <!-- Pausable SubscriptionManager -->
		<wsdl:operation name="PauseSubscription">
			<wsdl:input message="ses:PauseSubscriptionRequest" name="PauseSubscriptionRequest"
				wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionRequest" />
			<wsdl:output message="ses:PauseSubscriptionResponse" name="PauseSubscriptionResponse"
				wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="ses:ResourceUnknownFault" />
			<wsdl:fault name="PauseFailedFault" message="ses:PauseFailedFault" />
		</wsdl:operation>
		<wsdl:operation name="ResumeSubscription">
			<wsdl:input message="ses:ResumeSubscriptionRequest" name="ResumeSubscriptionRequest"
				wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionRequest" />
			<wsdl:output message="ses:ResumeSubscriptionResponse"
				name="ResumeSubscriptionResponse"
				wsa:Action="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionResponse" />
			<wsdl:fault name="ResourceUnknownFault" message="ses:ResourceUnknownFault" />
			<wsdl:fault name="ResumeFailedFault" message="ses:ResumeFailedFault" />
		</wsdl:operation>
    </wsdl:portType>
    
    <!-- BINDINGS -->
    <wsdl:binding name="SubscriptionManagerBinding" type="ses:SubscriptionManager">
        <wsdl-soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Destroy">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsrf/rlw-2/ImmediateResourceTermination/DestroyRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceNotDestroyedFault">
                <wsdl-soap12:fault name="ResourceNotDestroyedFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SetTerminationTime">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsrf/rlw-2/ScheduledResourceTermination/SetTerminationTimeRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="UnableToSetTerminationTimeFault">
                <wsdl-soap12:fault name="UnableToSetTerminationTimeFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="TerminationTimeChangeRejectedFault">
                <wsdl-soap12:fault
                    name="TerminationTimeChangeRejectedFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetResourcePropertyDocument">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsrf/rpw-2/GetResourcePropertyDocument/GetResourcePropertyDocumentRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetResourceProperty">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsrf/rpw-2/GetResourceProperty/GetResourcePropertyRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidResourcePropertyQNameFault">
                <wsdl-soap12:fault
                    name="InvalidResourcePropertyQNameFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetMultipleResourceProperties">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsrf/rpw-2/GetMultipleResourceProperties/GetMultipleResourcePropertiesRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidResourcePropertyQNameFault">
                <wsdl-soap12:fault
                    name="InvalidResourcePropertyQNameFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <!-- Unsubscribe method -->
        <wsdl:operation name="Unsubscribe">
            <wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/UnsubscribeRequest"/>
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
            <wsdl:fault name="ResourceNotDestroyedFault">
                <wsdl-soap12:fault name="ResourceNotDestroyedFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnknownFault">
                <wsdl-soap12:fault name="ResourceUnknownFault" use="encoded"/>
            </wsdl:fault>
            <wsdl:fault name="ResourceUnavailableFault">
                <wsdl-soap12:fault name="ResourceUnavailableFault" use="encoded"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <!-- Pausable SubscriptionManager -->
		<wsdl:operation name="PauseSubscription">
			<wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/PauseSubscriptionRequest" />
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<wsdl-soap12:fault name="ResourceUnknownFault" use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="PauseFailedFault">
				<wsdl-soap12:fault name="PauseFailedFault" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ResumeSubscription">
			<wsdl-soap12:operation soapAction="http://docs.oasis-open.org/wsn/bw-2/SubscriptionManager/ResumeSubscriptionRequest" />
            <wsdl:input>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap12:body use="literal"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
			<wsdl:fault name="ResourceUnknownFault">
				<wsdl-soap12:fault name="ResourceUnknownFault" use="encoded" />
			</wsdl:fault>
			<wsdl:fault name="ResumeFailedFault">
				<wsdl-soap12:fault name="ResumeFailedFault" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SubscriptionManagerService">
        <wsdl:port name="SubscriptionManagerPort" binding="ses:SubscriptionManagerBinding">
            <wsdl-soap12:address location="http://localhost:8080/52nSES/services/SubscriptionManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
