52n-ses-webapp/src/main/resources/wsdl/OGC-EM-0_2_0-emEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:em="http://www.opengis.net/em/0.2.0" targetNamespace="http://www.opengis.net/em/0.2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
  <annotation>
    <documentation>[WARN-A001] - No package description in UML model</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml" schemaLocation="OGC-GML-3_1_1-gml.xsd"/>
  <element name="DerivedEvent" type="em:DerivedEventType" substitutionGroup="em:ComplexEvent">
    <annotation>
      <documentation>An event that is generated as a result of applying a method or process to one or more other events.
When the procedure for combining base events is &lt;i&gt;disjunction&lt;/i&gt;, &lt;i&gt;conjunction&lt;/i&gt;, &lt;i&gt;sequence&lt;/i&gt;, etc. then Luckham and Schulte (2008) call it a composite event. We do not model this as a concrete specialization of DerivedEvent. Rather, we treat it as a simple classification that is implied by the procedure used in a DerivedEvent.</documentation>
    </annotation>
  </element>
  <complexType name="DerivedEventType">
    <complexContent>
      <extension base="em:ComplexEventType">
        <sequence>
          <element name="procedure" type="anyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DerivedEventPropertyType">
    <sequence minOccurs="0">
      <element ref="em:DerivedEvent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="ComplexEvent" type="em:ComplexEventType" substitutionGroup="em:Event">
    <annotation>
      <documentation>An event that is an abstraction of other events called its members.</documentation>
    </annotation>
  </element>
  <complexType name="ComplexEventType">
    <complexContent>
      <extension base="em:EventType">
        <sequence>
          <element name="member" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element ref="em:EventEventRelationship"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ComplexEventPropertyType">
    <sequence minOccurs="0">
      <element ref="em:ComplexEvent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Event" type="em:EventType" substitutionGroup="gml:_Feature"/>
  <complexType name="EventType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="eventTime">
            <complexType>
              <sequence>
                <element ref="gml:_TimePrimitive"/>
              </sequence>
            </complexType>
          </element>
          <element name="relatedFeature" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element ref="em:EventFeatureRelationship"/>
              </sequence>
            </complexType>
          </element>
          <element name="relatedEvent" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element ref="em:EventEventRelationship"/>
              </sequence>
            </complexType>
          </element>
          <element name="attribute" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <sequence>
                <element ref="em:NamedValue"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EventPropertyType">
    <sequence minOccurs="0">
      <element ref="em:Event"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="NamedValue" type="em:NamedValueType"/>
  <complexType name="NamedValueType">
    <sequence>
      <element name="name" type="gml:CodeType"/>
      <element name="value" type="anyType"/>
    </sequence>
  </complexType>
  <complexType name="NamedValuePropertyType">
    <sequence>
      <element ref="em:NamedValue"/>
    </sequence>
  </complexType>
  <element name="EventEventRelationship" type="em:EventEventRelationshipType" substitutionGroup="em:EventFeatureRelationship"/>
  <complexType name="EventEventRelationshipType">
    <complexContent>
      <extension base="em:EventFeatureRelationshipType"/>
    </complexContent>
  </complexType>
  <complexType name="EventEventRelationshipPropertyType">
    <sequence>
      <element ref="em:EventEventRelationship"/>
    </sequence>
  </complexType>
  <element name="EventFeatureRelationship" type="em:EventFeatureRelationshipType"/>
  <complexType name="EventFeatureRelationshipType">
    <sequence>
      <element name="role" type="gml:CodeType" maxOccurs="unbounded"/>
      <element name="target" type="gml:FeaturePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="EventFeatureRelationshipPropertyType">
    <sequence>
      <element ref="em:EventFeatureRelationship"/>
    </sequence>
  </complexType>
</schema>